# Compiled extensionless executable files in /src/*/
# This stanza must precede wildcard patterns below!
Corpus
!/src/lm/test_data/
!/src/*/?*.*
!/src/doc/*
!/src/*/Makefile
!/src/*/README
*/exp*
*/NN_Model

# Compiled Object files and python ciles
*.slo
*.lo
*.o
*.obj
*.pkl
*.json
*.hdf5
*.txt
*.csv

# profiling files and core files
*.nvprof
core

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Test log files
*.testlog

# emacs saves
[#]*[#]
.[#]*
*~

# [ecg]tag files
TAGS
tags
GTAGS
GRTAGS
GPATH
GSYMS

# python compiled sources
*.pyc

# Make dependencies
.depend.mk

# some weird thing that MacOs creates.
*.dSYM

# Windows executable, symbol and some weird files.
*.exe
*.pdb
*.exp
*.manifest

# /IR_model/
/*/data
/*/exp
